# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
.gitattributes
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Ignore all compiled for output and documentation files
*.html
*.js
*.js

*.css
*.map

# Ignore compiled files
/compiled
scss/demo.scss
scss/lego.scss