// Text Colors

.text-white {
	color: $white;
}
.text-gray-1 {
	color: $lego-gray-1;
}
.text-gray-2 {
	color: $lego-gray-2;
}
.text-gray-3 {
	color: $lego-gray-3;
}
.text-gray-4 {
	color: $lego-gray-4;
}
.text-gray-5 {
	color: $lego-gray-5;
}
.text-gray-6 {
	color: $lego-gray-6;
}
.text-black {
	color: $black;
}
.text-primary {
	color: $lego-primary;
}
.text-success {
	color: $lego-success;
}
.text-info {
	color: $lego-info;
}
.text-warning {
	color: $lego-warning;
}
.text-danger {
	color: $lego-danger;
}
.text-input {
	color: $lego-danger;
}

// Background Colors

.bg-white {
	background: $white;
}
.bg-gray-1 {
	background: $lego-gray-1;
}
.bg-gray-2 {
	background: $lego-gray-2;
}
.bg-gray-3 {
	background: $lego-gray-3;
}
.bg-gray-4 {
	background: $lego-gray-4;
}
.bg-gray-5 {
	background: $lego-gray-5;
}
.bg-gray-6 {
	background: $lego-gray-6;
}
.bg-black {
	background: $black;
}
.bg-primary {
	background: $lego-primary;
}
.bg-success {
	background: $lego-success;
}
.bg-info {
	background: $lego-info;
}
.bg-warning {
	background: $lego-warning;
}
.bg-danger {
	background: $lego-danger;
}
.bg-input {
	background: $lego-danger;
}