// Containers //

%flex {
  display: flex;
  align-items: center;
}

%flex--column {
  display: flex;
  flex-direction: column;
}

%input--disabled {
  box-shadow: none;
  opacity: 0.4;
  cursor: not-allowed;
}

///// Tab Styles ////


%tab--inside--base {
  input, 
  section {
    clear: both;
    padding-top: 10px;
    display: none;
  }

  label {
    float: left;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    .fa {
      font-size: 16px;
    }
  }
}

%show--tab--content {
  display: block;
  padding: 20px;
  background: $white;
}
