// Typography Placeholders //

%arial-bold-text {
  font-family: $arial;
  font-weight: 600;
}

%arial-text {
  font-family: $arial;
  font-weight: 400;
}

%montserrat-text {
  font-family: $montserrat;
  font-weight: 400;
}

// Containers //

%container--default {
  @include relative();
  margin: 0 auto 20px auto;
  padding: 0;
  width: 100%;
}

%flex {
  display: flex;
  align-items: center;
}

%flex--column {
  display: flex;
  flex-direction: column;
}

%capitalize {
  text-transform: capitalize;
}

%uppercase {
  text-transform: uppercase;
}

%ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

%focus-none {
  &:focus,
  &:active,
  &:hover {
      outline: none;
  }
}

%input--disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
}

///// Accordion Styles ////

%accordion__container--open {
  margin: 0;
  max-height: 0;
  opacity: 0;
  padding: 0 10px;
}

%accordion__container--closed {
  margin: 0;
  padding: 0 10px;
  max-height: 800px;
  opacity: 1;
}

%accordion__i--base {
  &:last-of-type {
    padding-bottom: 0;
  }

  &:first-of-type {
    margin-top: 0;
  }

  .transition,
  i:before, 
  i:after {
    @include transition(all, 1s, ease);
  }

  &.behavior {
    i,
    input {
      display: none;
    }
  }

  i {
    @include absolute(right 14px);
    @include transform(translate(-6px, 0));
    margin-top: 17px;
    z-index: 1;
  }

  i:before, 
  i:after {
    @include absolute();
    content: "";
    background-color: $black;
    width: 3px;
    height: 9px;
  }

  input[type=checkbox] {
    @include absolute();
    cursor: pointer;
    width: 100%;
    height: 40px;
    z-index: 99;
    opacity: 0;
  }
}

%accordion--open {
  i:before {
    @include transform(translate(-2px, 0) rotate(45deg));
    @include transition(all, 1s, ease);
  }
  i:after {
    @include transform(translate(2px, 0) rotate(-45deg));
    @include transition(all, 1s, ease);
  }
  input[type=checkbox]:checked ~ .accordion__container {
    margin: 0;
    max-height: 800px;
    opacity: 1;
    padding: 10px;
  }
  input[type=checkbox]:checked ~ i:before {
    @include transform(translate(2px, 0) rotate(45deg));
  }
  input[type=checkbox]:checked ~ i:after {
    @include transform(translate(-2px, 0) rotate(-45deg));
  }
}

%accordion--closed {
  i:before {
    @include transform(translate(-2px, 0) rotate(-45deg));
    @include transition(all, 1s, ease);
  }
  i:after {
    @include transform(translate(2px, 0) rotate(45deg));
    @include transition(all, 1s, ease);
  }
  input[type=checkbox]:checked ~ .accordion__container {
    @include transform(translate(0, 50%));
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    padding: 0 10px;
  }
  input[type=checkbox]:checked ~ i:before {
    @include transform(translate(2px, 0) rotate(-45deg));
  }
  input[type=checkbox]:checked ~ i:after {
    @include transform(translate(-2px, 0) rotate(45deg));
  }
}

///// Accordion Styles ////

///// Tab Styles ////


%tab--inside--base {
  input, section {
    clear: both;
    padding-top: 10px;
    display: none;
  }

  label {
    float: left;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    .fa {
      font-size: 16px;
    }
  }
}

%show--tab--content {
  display: block;
  padding: 20px;
  background: $white;
}

%tab--base--bordered {
  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4,
  #tab5:checked ~ #content5 {
    @extend %show--tab--content;

    border-top: 1px solid $lego-gray-1; 
    border-bottom: 1px solid $lego-gray-1; 
  }

  .tab__container .tab__content p,
  .tab__container .tab__content h3 {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    -moz-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out;
  }

  .tab__container [id^="tab"]:checked + label {
    background: $white;
    border-bottom: 0;

    &.border--top {
      box-shadow: inset 0 3px $lego-primary; // for top border
    }

    &.border--bottom {
      box-shadow: inset 0 -3px $lego-primary; // for bottom border
    }
  }

  .tab__container [id^="tab"]:checked + label .fa {
    color: $lego-primary;
  }
}

///// Tab Styles ////


%size-styles {

  &.skin-sm,
  &.skin-md,
  &.skin-lg {
    margin: 0;
  }

  &.skin-sm::after {
    font-size: 12px;
  }
  &.skin-md::after {
    font-size: 14px;
  }
  &.skin-lg::after {
    font-size: 18px;
  }
}