// Containers //

%flex {
  display: flex;
  align-items: center;
}

%flex--column {
  display: flex;
  flex-direction: column;
}

%input--disabled {
  box-shadow: none;
  opacity: 0.4;
  cursor: not-allowed;
}

///// Tab Styles ////

%show--tab--content {
  display: block;
  padding: 20px;
  background: $white;
}
