// ==================
// Containers 
// ==================

.container {
  @extend %container--default;

  & .container {
    padding-left: 25px;
    width: auto;
  }
}

.flex-container {
  @extend %flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.column {
  flex-basis: 500px;
}

.flex-column {
  @extend %flex--column;
}
