// ======================
// Form, Form Items and Classes
// ======================

.form {

  input {
    margin: 0 0 20px 0;
  }

  input,
  label {
    display: block;
    width: 100%;
  }

  label {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
    color: $lego-gray-5;
  }

  .form__group {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
  }

  .btn {
    margin: 10px 0 0 0;
    display: block;
  }

  @include for-size(tablet-portrait-up) {

    input,
    label {
      display: inline-flex;
      width: auto;
    }

    input {
      margin: 0 25px 0 0;
    }

    label {
      margin-right: 15px;
    }

    .form__group {
      display: inline-block;
    }
  }
}

.form--stacked {

  input, 
  select, 
  textarea,
  label {
    display: block;
  }

  .form__group {
    margin-bottom: 15px;
  }

  label {
    margin-bottom: 8px;
  }

  .btn {
    margin: 10px 0 0 0;
  }
}

.form--aligned {

  &-left,
  &-center,
  &-right {

    .form__group {
      display: block;
      margin-bottom: 15px;
      align-items: baseline;
    }

    @include for-size(tablet-portrait-up) {
      .form__group {
        display: flex;
      }
    }
  }

  &-center {

    label {
      margin-bottom: 5px;
      text-align: left;
      display: block;
      width: 100%;

       @include for-size(tablet-portrait-up) {
        width: 50%;
        margin: 0;
        text-align: right;
        display: inline-block;
        margin-right: 7.5px;
       }
    }
    input,
    select,
    textarea {
      display: block;

      @include for-size(tablet-portrait-up) {
        display: inline-block;
          vertical-align: middle;
          width: 50%;
          margin-left: 7.5px;
      }
    }

    .btn {
      margin: 0 auto;
      position: relative;
      display: block;
    }
  }

  &-right {
    text-align: right;

    .form__group {
      justify-content: flex-end;
    }

    input {
      margin-right: 0;
    }
  }
}

fieldset {
  padding: 10px 20px 20px;
  border-radius: 4px;
  border: 2px solid $lego-gray-3;

  .btn {
    margin: 0;
  }
}
