// ==================
// Headers 
// ==================

header {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 10px 15px;
  width: 100vw;

  .nav {
    display: none;
    
    @include for-size(tablet-landscape-up) {
      display: flex;
    }
  }

  .mobile-nav {
    border: 0;
  }
}


