// ==================
// Navigation 
// ==================

.nav {
  @extend %flex;
  margin-left: auto;
  padding: 10px 15px;
  user-select: none;

  .nav__item,
  .nav__item.accordion__title {
    padding: 10px 15px 10px 13px;
  }

  &--vert {
    @extend %flex--column;

    .nav__item {
      padding: 14px 10px 14px 8px;
    }
  }

  &.nav--center {
    margin: 0 auto;
  }
  &.nav--left {
    margin: 0;
  }
}

.nav,
.nav--vert {

  .divider {
    border-bottom: 1px dashed $lego-gray-1;
  }

  .nav__item,
  .nav__item--nested {
    cursor: pointer;
    border-left: 2px solid transparent;
    
    &:active,
    &:focus {
      border-left-color: $lego-primary;
    }
    &:focus {
      outline: none;
    }
  }

  .nav__item--nested:hover {
    background-color: $lego-primary;
    color: $white;
  }

  .nav__item {
    @extend %flex;
    @include text(.9em, $weight: bold);
    color: inherit;

    &--nested {
      padding: 6px 10px 5px 10px;
      display: block;
      white-space: nowrap;
    }
  }

  // if there's an accordion inside a nav
  .accordion__toggle:checked ~ .accordion__container {
    padding: 0 10px;
  }
}
