// ==================
// Navigation 
// ==================

.nav {
  @extend %flex;
  margin-left: auto;
  padding: 10px 15px;

  .nav__item {
    padding: 10px 15px 10px 13px;
  }

  &--vert {
    @extend %flex--column;

    .nav__item {
      padding: 10px 10px 10px 8px;
    }
  }

  &.nav--center {
    margin: 0 auto;
  }
  &.nav--left {
    margin: 0;
  }
}

.nav,
.nav--vert {

  .divider {
    border-bottom: 1px dashed $lego-gray-1;
  }

  .nav__item,
  .nav__item--nested {
    cursor: pointer;
    
    &:active,
    &:focus {
      border-left-color: $lego-primary;
    }
  }

  .nav__item--nested {

    &:hover {
      background-color: $lego-primary;
      color: $white;
    }
  }

  .nav__item {
    @extend %flex;
    @include text(.9em, $weight: bold);
    cursor: pointer;
    user-select: none;
    color: $lego-gray-5;
    border-left: 2px solid transparent;

    &--nested {
      border-left: 2px solid transparent;
      padding: 5px 7px 5px 8px;
      display: block;
      white-space: nowrap;
    }

    &.accordion__title {
      padding: 10px 30px 10px 8px;
    }
  }

  // if there's an accordion inside a nav
  .accordion input[type=checkbox]:checked ~ .accordion__container,
  .accordion--panel input[type=checkbox]:checked ~ .accordion__container {
    padding: 0 10px;
  }
}
