// ==================
// Sidebar 
// ==================

.sidebar {

  .sidebar__title {
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid $lego-gray-2;
    cursor: pointer;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

aside {

  &.sidebar {
    display: none;

    @media #{$desktop} {
      @include fixed();
      display: block;
      background-color: $white;
      z-index: 1;
      width: 100%;
      padding: 20px;
      height: 100vh;
      max-width: 230px;
      overflow: auto;
      left: 0;
    }

    & ~ .content {
      padding: 40px 25px;
      width: 100%;

      @media #{$desktop} {
        padding: 15px 40px 30px;
        margin-left: 230px;
      }
    }
  }
}
