// ==================
// Accordion 
// ==================

.accordion__wrapper {
  @extend %flex--column;
  width: 100%;
  margin: 0;
}

// Accordion Base Styles //

.accordion,
.accordion--panel {
  @extend %accordion--open;
  @extend %accordion__i--base;
  @include relative();
  overflow: hidden;

  &.accordion--open {
    @extend %accordion--closed;
  }

  .accordion__title {
    @extend %flex;
    @include text($weight: bold);
    @include relative();
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    cursor: pointer;
    user-select: none;
    padding: 10px 30px 10px 10px;
    color: $lego-gray-5;

    &--secondary {
      font-weight: normal;
      padding: 0px 5px;
    }
  }

  .accordion__container {
    @extend %accordion__container--open;
    @extend %flex--column;
    @include text($weight: 100);
    @include transition(all, 1s, ease);
    @include relative();
    overflow: hidden;
    padding: 10px;

    &--open {
      @extend %accordion__container--closed;
    }
  }

  .accordion__toggle:checked ~ .accordion__container {
    padding: 10px;
  }
}

.accordion--panel {
  margin: 5px 0 0 0;
  border: 1px solid transparent;
  border-color: $lego-gray-2;
  border-radius: 4px;

  .accordion__title {
    background-color: $lego-gray-1;
    border-color: $lego-gray-2;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .accordion__container {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: $white;
  }
}

$skins: 
  'blue' $lego-primary,
  'green' $lego-success,
  'red' $lego-danger,
  'gray' $lego-gray-3
;

.accordion,
.accordion--panel {

  @each $name, $color in $skins {
    &.skin-#{$name} {
      border-color: #{$color};
      
      .accordion__title {
        color: $white;
        background-color: transparent;
        border-color: transparent;
      }

      i:before,
      i:after {
        background-color: $white;
      }
    }
  }
}
