// ==================
// Alerts 
// ==================

.alert {
  @extend %flex;
  z-index: 2;
  padding: 15px;

  &__close {
    opacity: .6;
    color: inherit;
    margin-left: auto;
    background-color: inherit;
    margin-right: 15px;
    padding-right: 0;
  }

  &--notification {
    @extend .alert;
    opacity: .8;
    position: absolute;
    border-radius: 6px;
    max-width: 250px;
    border: 1px solid transparent;
  }

  &--global {
    @extend .alert;
    opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 15px 0 15px 15px;
    color: $lego-gray-5;
    background-color: $lego-gray-1;
  }

  &--danger {
    @extend .alert;
    color: darken($lego-danger, 20%);
    background-color: lighten($lego-danger, 30%);

    &-border {
      @extend .alert--danger;
      border-color: darken($lego-danger, 10%);
    }
  }

  &--warning {
    @extend .alert;
    color: darken(#8a6d3b, 20%);
    background-color: #fcf8e3;

    &-border {
      @extend .alert--warning;
      border-color: #faebcc;
    }
  }

  &--success {
    @extend .alert;
    color: darken($lego-success, 20%);
    background-color: lighten($lego-success, 30%);

    &-border {
      @extend .alert--success;
      border-color: darken($lego-success, 10%);
    }
  }

  &--info {
    @extend .alert;
    color: darken($lego-info, 20%);
    background-color: lighten($lego-info, 25%);

    &-border {
      @extend .alert--info;
      border-color: darken($lego-info, 10%);      
    }
  }
}


