// ==================
// Alerts 
// ==================

$skins:
  'primary' #2390b0 #c5e9f3 #31b0d5,
  'success' #357935 #c7e6c7 #449d44,
  'warning' #8a6d3b #fcf8e3 #faebcc,
  'danger' #8e1f2b #f0bcc2 #b82838
;

.alert {
  @extend %flex;
  z-index: 2;
  padding: 15px;

  // small no close btn
  &.alert--notification {
    @extend .alert;
    opacity: .8;
    position: fixed;
    max-width: 250px;
    top: 10px;
    right: 10px;
  }

  // fixed to top of screen, has close btn
  &.alert--global {
    @extend .alert;
    opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 15px 0 15px 15px;
  }

  .alert__close {
    opacity: .6;
    margin-left: auto;
    background-color: inherit;
    margin-right: 15px;
    padding-right: 0;
  }

  @each $name, $color, $background, $border-color in $skins {
    &.alert--#{$name},
    &.alert--#{$name}--border {
      .alert__close {
        color: $color;
      }
    }
    &.alert--#{$name} {
      @include custom-skin('alert', $background, $color, $background);
    }
    &.alert--#{$name}--border {
      @include custom-skin('alert', $background, $color, $border-color);
    }
  }
}
