// ==================
// Breadcrumbs 
// ==================

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: $lego-gray-1;
  border-radius: 4px;
}

.breadcrumb>li {
  display: inline-block;
}

.breadcrumb>.active {
  color: $lego-gray-5;
}

.breadcrumb>li+li:before {
  padding: 0 5px;
  color: $lego-gray-2;
  content: "/\00a0";
}