// ==================
// Breadcrumbs 
// ==================

// default skin colors
$skins: 
  'blue' $lego-primary,
  'green' $lego-success,
  'red' $lego-danger,
  'gray' $lego-gray-3
;

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;

  .breadcrumb__item {
    display: inline-block;
    text-transform: capitalize;

    + .breadcrumb__item:before {
      padding: 0 5px;
      color: $lego-gray-2;
      content: "/\00a0";
    }

    a {
      color: $lego-gray-3;
    }

    &.active {
      color: $lego-primary;
    }
  }

  @each $name, $color in $skins {
    &.skin--#{$name} {
      .active {
        color: $color;
      }
    }
  }
}
