// ==================
// Breadcrumbs 
// ==================

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;

  .breadcrumb-item {
    display: inline-block;

    + .breadcrumb-item:before {
      padding: 0 5px;
      color: $lego-gray-2;
      content: "/\00a0";
    }

    a {
      color: $lego-gray-3;
    }

    &.active {
      color: $lego-primary;
    }
  }

  // Breadcrumb skins
  &.breadcrumb--green {

    .active {
      color: $lego-success;
    }
  }

  &.breadcrumb--gray {

    .active {
      color: $lego-gray-3;
    }
  }

  &.breadcrumb--red {

    .active {
      color: $lego-danger;
    }
  }

  &.breadcrumb--blue {

    .active {
      color: $lego-primary;
    }
  }

}
