// ==================
// Buttons 
// ==================

$skins: 
  'primary' $lego-primary,
  'success' $lego-success,
  'danger' $lego-danger
;

button {
  @include transition((box-shadow, background-color), .4s, cubic-bezier(.25,.8,.25,1));
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  min-height: 42px;
  margin: 3px;
  padding: 8px 18px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-image: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.btn,
.link {
  @extend %focus--on;
}

.btn {
  &--primary {@include custom-skin('btn', $lego-primary, $white, $lego-primary);}
  &--success {@include custom-skin('btn', $lego-success, $white, $lego-success);}
  &--danger {@include custom-skin('btn', $lego-danger, $white, $lego-danger);}
  &--default {@include custom-skin('btn', $lego-gray-3, $white, $lego-gray-3);}
  
  &--outline-primary {@include custom-skin('btn-outline', $white, $lego-primary, $lego-primary);}
  &--outline-success {@include custom-skin('btn-outline', $white, $lego-success, $lego-success);}
  &--outline-danger {@include custom-skin('btn-outline', $white, $lego-danger, $lego-danger);}
  &--outline-default {@include custom-skin('btn-outline', $white, $lego-gray-4, $lego-gray-3);}
}

.link {
  &--primary,
  &--default {@include custom-skin('btn-link', transparent, $lego-primary, transparent);}
  &--success {@include custom-skin('btn-link', transparent, $lego-success, transparent);}
  &--danger {@include custom-skin('btn-link', transparent, $lego-danger, transparent);}
  &--gray {@include custom-skin('btn-link', transparent, $lego-gray-4, transparent);}
  &--white {@include custom-skin('btn-link', transparent, $white, transparent);}
}


/////// Buton Display /////////

.btn--block {
  display: block;
  width: 100%;
  margin: 0;

  & + .btn--block {
    margin: 5px 0;
  }
}


/////// Button Grous ///////

.btn-group {
  @include relative();
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
}

.btn-group > .btn-group__btn {
  @include relative();
  float: left;
  margin: 0;
}

.btn-group > .btn-group__btn:first-child {
  margin-left: 0;
}

.btn-group > .btn-group__btn:first-child:not(:last-child):not(.dropdown__toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group .btn-group__btn + .btn-group__btn, 
.btn-group .btn-group + .btn-group__btn {
  margin-left: -1px;
}

.btn-group > .btn-group__btn:not(:first-child):not(:last-child):not(.dropdown__toggle) {
  border-radius: 0;
}

.btn-group > .btn-group__btn:last-child:not(:first-child), 
.btn-group > .dropdown__toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

//////////// Custom Upload File Button /////////////

.btn-upload-container {
  @extend %focus--on;
  position: relative;
  display: inline-block;
  margin: 3px;

  .inputfile {
    @include absolute();
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    & + .btn-upload {
      @include text($font-sm, 1.4);
      display: inline-block;
      border-radius: 4px;
      padding: 10px 18px;
      text-transform: capitalize;

      @extend %size-styles;
    }
  }
}

//// Pure CSS Dropdown ////

.dropdown {
  @extend %focus--on;
  @include relative();
  display: inline-block;
  z-index: 1000;
  margin: 3px;

  /**
  Hide the checkbox itself. Checking and unchecking 
  it we will be done via the label element.
  */

  .dropdown__toggle {
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    cursor: pointer;
    position: absolute;
    margin: 0;

    + .btn {
      margin: 0;
    }

    &:checked ~ .dropdown__container {
      display: block;
    }
  }

  /*  The .dropdown__container will have display:none by default */

  .dropdown__container {
    @include box-shadow(0, 6px, 12px, rgba(0,0,0,0.175));
    @include absolute();
    list-style: none;
    text-align: left;
    float: left;
    width: 100%;
    z-index: 1000;
    margin: 1px 0 0 0;
    padding:0;
    min-width: 153px;
    background-color: $white;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 4px;
    display: none;
    max-height: 350px;
    overflow-y: scroll;

    .dropdown__item {
      padding: 8px 20px;
      cursor: pointer;

      &:hover {
        background-color: $lego-gray-3;
        color: $white;
      }

      a {
        color: inherit;
      }
    }
  }

  &.dropdown--show {
    .dropdown__container {
      display: block;
    }
  }

  @each $name, $color in $skins {
    .btn--#{$name} {
      & ~ .dropdown__container .dropdown__item:hover{
        background-color: $color;
      }
    }
    .btn--outline-#{$name} {
      & ~ .dropdown__container .dropdown__item:hover{
        background-color: $white;
        color: $color;
      }
    }
  }
}
