// ==================
// Cards 
// ==================

.card {
  @extend %flex--column;
  @include relative();
  @include box-shadow(1px, 2px, 3px, rgba(0, 0, 0, 0.2));
  word-wrap: break-word;
  background-color: $white;
  background-clip: border-box;
  border: 1px solid $lego-gray-2;
  border-radius: 4px;
  padding: 0 15px;
  margin: 0 20px 20px 0;
  width: 300px;
  overflow: hidden;
  line-height: 1.3;

  &__body {
    
    &:first-child {
      padding-top: 15px;
    }

    &:last-child {
      padding-bottom: 15px;
    }
  }

  &__text {
    color: $lego-gray-5;
    display: block;
    margin-bottom: 1.3em;
  }

  &__title {
    font-weight: 600;
    display: block;
    margin-bottom: .4em;
  }

  &__link {

    & + & {
      margin-left: 15px;
    }
  }

  &__button {
    @extend button;
    margin: 0;
  }
}

// Card Display & Images 
.card__display {
  @include relative();
  background-clip: border-box;
  background-size: contain;
  background-position: center;
  background-origin: border-box;
  width: calc(100% + 32px);
  left: -16px;
  height: 188.75px;

  &--top {
    @extend .card__display;
    border-top-left-radius: calc(4px - 1px);
    border-top-right-radius: calc(4px - 1px);
    margin-bottom: 15px;
    top: -1px;
  }

  &--middle {
    @extend .card__display;
    margin-bottom: 15px;

    &:not(:first-child):not(:last-child) {
      margin-top: -15px;
    }
  }

  &--bottom {
    @extend .card__display;
    border-radius: 0;
    border-bottom-left-radius: calc(4px - 1px);
    border-bottom-right-radius: calc(4px - 1px);
    margin-top: 15px;
    bottom: -1px;
  }

  &--overlay {
    @extend %flex;
    @include text(1.3em, $color: $white);
    justify-content: center;
  }
}

// Header & Footer 
.card {
  &__header,
  &__footer {
    background-color: $lego-gray-1;
    border-bottom: 1px solid $lego-gray-1;
    padding: 15px;
  }

  &__header {
    margin: 0 -15px 15px -15px;
  }

  &__footer {
    margin: 15px -15px 0 -15px;
  }
}

  //////////

// Card Sizing
.card {
  &.card--sm {
    width: 150px;

    .card__display-top,
    .card__display-bottom {
      height: 104.38px;
    }
  }
  &.card--lg {
    width: 450px;

    .card__display-top,,
    .card__display-bottom {
      height: 273.13px;
    }
  }

  // Card Alignment
  &.card--left {
    text-align: left;
  }

  &.card--centered {
    text-align: center;
  }

  &.card--right {
    text-align: right;
  }
}

///// Dashboard Cards

.dashboard-cards {
  display: flex;

  .dashboard-card {
    @include box-shadow(2px, 2px, 5px, rgba(0, 0, 0, 0.28));
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin-right: 15px;

    .dashboard-stats {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .dashboard-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $white;
      padding: 15px 0;

      &:first-of-type,
      &:last-of-type {
        width: 100%;
      }

      &:first-of-type {
        background-color: #5bc0de;
        border-top-left-radius: 5px;
      }
      &:last-of-type {
        background-color: #eea236;
        border-top-right-radius: 5px;
      }

      .number {
        font-size: 30px;
        font-weight: bold;
        line-height: 1;
      }

      .label {
        font-size: 12px;
      }
    }

    .dashboard-title {
      color: $black;
      background-color: $white;
      font-size: 20px;
      padding: 5px 0;
      width: 100%;
      text-align: center;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
