.chips {
  font-size: 14px;
  line-height: 18px;
  position: relative;
  margin: 8px 5px;
  box-sizing: border-box;

  .chip {
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    box-shadow: 0 2px rgba(0, 0, 0, 0.5);
    padding: 7px 12px;
    margin: 0 5px 5px 0;
    border-radius: 24px;
    align-items: center;
    cursor: pointer;

    &.removable {

      .close-chip {
        padding-left: 10px;
      }
    }
  }
}

// default skin colors
$skins: 
  'blue' rgba(51,122,183,.5),
  'green' rgba(131,188,32,.5),
  'red' rgb(213, 62, 79.5),
  'gray' rgba(99,102,106,.5),
  'input' rgba(184,186,187,.5)
;

.chip {
  &-default {
    background-color: #e0e0e0;
    color: $black;
  }

  @each $name, $shadow in $skins {
    &.skin-#{$name} {
      box-shadow: 0 2px $shadow;
    }
  }

  @each $name, $shadow in $skins {
    &.skin-outline-#{$name} {
      box-shadow: 0 2px $shadow;
    }
  }
}