.chips {
  font-size: 14px;
  line-height: 18px;
  position: relative;
  margin: 8px 5px;
  box-sizing: border-box;

  .chip {
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    box-shadow: 0 2px rgba(0, 0, 0, 0.5);
    padding: 7px 12px;
    margin: 0 5px 5px 0;
    border-radius: 24px;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;

    &--removable {
      @extend .chip;

      .chip__close-btn {
        padding-left: 10px;
      }
    }
  }
}

// default skin colors
$skins: 
  'blue' $lego-primary rgba(51,122,183,.5),
  'green' $lego-success rgba(131,188,32,.5),
  'red' $lego-danger rgba(213, 62, 79.5,.5),
  'orange' $lego-warning rgba(253, 174, 97,.5),
  'gray' $lego-gray-3 rgba(99,102,106,.5)
;

.chip {

  @each $name, $color, $shadow in $skins {
    &.chip--#{$name} {
      box-shadow: 0 2px #{$shadow};
      background-color: #{$color};
      color: $white;
    }

    &.chip--outline-#{$name} {
      box-shadow: 0 2px #{$shadow};
      border-color: #{$color};
      color: #{$color};
    }
  }
}