////////// Skin Colors //////////


// basic skins - no states
.skin-green {@include skin('filled', $lego-success);}
.skin-gray {@include skin('filled', $lego-gray-3);}
.skin-red {@include skin('filled', $lego-danger);}
.skin-blue {@include skin('filled', $lego-primary);}

.skin-outline-green {@include skin('outline', $lego-success);}
.skin-outline-gray {@include skin('outline', $lego-gray-3);}
.skin-outline-red {@include skin('outline', $lego-danger);}
.skin-outline-blue {@include skin('outline', $lego-primary);}


//////// Sizes //////////

.skin-lg {
  padding: 16px 30px !important;
  font-size: 18px !important;
  border-radius: 9px !important;
}

.skin-md {
  padding: 12px 24px !important;
  font-size: 14px !important;
  border-radius: 6px !important;
}

.skin-sm {
  padding: 9px 12px !important;
  font-size: 12px !important;
  border-radius: 3px !important;
}


