// ==================
// Inputs 
// ==================

// Inline input and label group //

.input--inline {
  display: inline-block;
  width: auto;
  min-width: 300px;
  vertical-align: middle;
}

.label--inline {
  display: inline-block;
}

// Input Groups //

// Need to address two ways of looking at input groups
// 1. can be used for forms with labels next to inputs
// 2. can be used for forms with labels above inputs
// 3. can be used to group inputs and buttons in the same container

// Needs:
// [add] default horizontal
// [add] input-group--stacked
// [to do] section for those that look like material design

.input-group {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 28px 20px 0;
  border-radius: 4px;

  @include for-size(tablet-landscape-up) {
    width: auto;
  }

  // border radius corners depending on who comes first

  .input-group__btn,
  .input-group__input {
    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-left: 0;
    }
  }

  label {
    margin-right: 8px;

    & + .input-group__input {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-left: 1px;
    }
  }

  .input-group__input {
    display: block;
    margin: 0;
    width: 100%;

    @include for-size(tablet-landscape-up) {
      width: 250px;
    }

    .input-group__input + .input-group__input {
      border-left-width: 0;
    }
  }

  &--stacked {
    @extend %flex--column;
  }

  &__btn {
    margin: 0;
    position: relative;
  }
}

// ===== Text Input fields that look like Angular Material ==== //

.field {
  --uiFieldPaddingTop: var(--fieldPaddingTop, 0px);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 0px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 0px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 0px);

  --uiFieldBorderColor: var(--fieldBorderColor, transpatent);
  --uiFieldBorderTop: var(--fieldBorderTop, 0px);
  --uiFieldBorderRight: var(--fieldBorderRight, 0px);
  --uiFieldBorderBottom: var(--fieldBorderBottom, 0px);
  --uiFieldBorderLeft: var(--fieldBorderLeft, 0px);

  --uiFieldBgColor: var(--fieldBgColor, transpatent);
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
  --uiFieldAnimationDuration: var(--fieldAnimationDuration, .3s);
  --uiFieldFonstSize: var(--fieldFontSize, 16px);

  position: relative;  
}

input.field__input,
textarea.field__input {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--uiFieldBgColor);

  /* for iOS */
  appearance: none;
  border-radius: 0;

  border-style: solid;
  border-color: var(--uiFieldBorderColor);

  border-top-width: var(--uiFieldBorderTop);
  border-right-width: var(--uiFieldBorderRight);
  border-bottom-width: var(--uiFieldBorderBottom);
  border-left-width: var(--uiFieldBorderLeft);

  padding-top: var(--uiFieldPaddingTop);
  padding-right: var(--uiFieldPaddingRight);
  padding-bottom: var(--uiFieldPaddingBottom);
  padding-left: var(--uiFieldPaddingLeft);

  font-family: inherit;
  font-size: 100%;
  color: inherit;
  box-shadow: none;

  &::-webkit-input-placeholder{ 
    color: var(--uiFieldPlaceholderColor);
    opacity: 0;
  }

  &::-moz-placeholder { 
    color: var(--uiFieldPlaceholderColor);
    opacity: 0;
  }

  &:focus{
    outline: none;  
  }

  &:focus::-webkit-input-placeholder{ 
    transition: opacity var(--uiFieldAnimationDuration) ease-out var(--uiFieldAnimationDuration);
    opacity: 1;
  }

  &:focus::-moz-placeholder{ 
    transition: opacity var(--uiFieldAnimationDuration) ease-out var(--uiFieldAnimationDuration);
    opacity: 1;
  }

}

.field__label-wrap {
  height: 100%;
  display: block;
}

.field__label {
  position: absolute;
  top: calc(0px + var(--uiFieldPaddingTop) + var(--uiFieldBorderTop));
  left: calc(0px + var(--uiFieldPaddingLeft) + var(--uiFieldBorderLeft));

  pointer-events: none;
  font-size: .9em;

  transition: top var(--uiFieldAnimationDuration) cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity var(--uiFieldAnimationDuration) ease-out;
  will-change: top, opacity;
}

.field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label {
  opacity: 0;
  top: calc(0px + var(--uiFieldPaddingTop) + var(--uiFieldBorderTop));
}

.field__input:focus ~ .field__label-wrap .field__label {
  opacity: 1;
  top: calc(-1 * calc(var(--uiFieldPaddingTop) + var(--uiFieldBorderTop) + 15px));
}

.field-am {
  --uiFieldBorderBottom: var(--fieldBorderBottom, 2px);
  --uiFieldPaddingTop: var(--fieldPaddingTop, 5px);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 9px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 0);  

  .field__label-wrap:after {
    content: "";
    width: 0;
    height: var(--uiFieldBorderBottom);
    background-color: var(--fieldBorderColorActive);

    position: absolute;
    bottom: 0;
    left: 0;

    will-change: width;
    transition: width var(--uiFieldAnimationDuration) ease-out;
  }

  .field__input:focus ~ .field__label-wrap:after{
    width: 100%;
  }
}

.field {
  --fieldBorderColor: $lego-gray-6;
  --fieldBorderColorActive: $lego-success;
  --fieldPlaceholderColor: $lego-gray-5;
  display: block;
  color: $lego-gray-6;
}


// Looks like Material Design but with no transition on the label 

.md-group {
  @include relative();

  .md-label {
    margin: 0;
  }

  .md-input {
    @include border-radius(0);
    margin-bottom: 10px;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #333;
    padding: 0 10px 0 0;
    height: 27px;
    background-color: transparent;

    &:focus {
      color: $lego-success;
      border-bottom: 1px solid $lego-success;
    }

    &[readonly],
    &[readonly]:focus {
      @extend %input--disabled;
    }
  }
}

// ===== Textarea that looks like Angular Material ==== //

textarea.am-textarea {
  @extend %focus-none;
  @include text($font-sm, 1.4, $color: $lego-gray-5);
  overflow: auto;
  display: block;
  margin-top: 0;
  padding: 2px 2px 1px;
  border-width: 0;
  border-radius: 0;
  border-bottom: 1px;
  border-style: solid;
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  border-color: $lego-gray-6;

  &:focus {
    color: $lego-success;
    border-bottom: 1px solid $lego-success;
  }

  &[disabled] {
    @extend %input--disabled;
  }
}

// ===== Similarieties btw Ui-select and Autocomplete ==== //

.ui-select-container .ui-select-match .ui-select-toggle {
  @extend %flex--align--center;
  @extend %focus-none;
  @include text($color: $lego-gray-5);
  @include border-radius(0);
  border: 0;
  border-bottom: 1px solid $lego-gray-6;
  margin: 0;
  padding: 3px 0 0 4px;
  width: 100%;
  height: 27px;
  text-transform: none;
  background-color: transparent;
  box-shadow: none;

  @include for-size(tablet-landscape-up) {
    width: 250px;
  }
}


// ===== Custom Angular Bootstrap UI Select ==== //

.ui-select-container {
  width: 100%;
  margin-bottom: 10px;

  @include for-size(tablet-landscape-up) {
    max-width: 250px;
  }

  .ui-select-match {
    @extend %focus-none;

    .ui-select-toggle {

      &[disabled] {
        @extend %input--disabled;
      }

      .ui-select-match-text {
        width: auto;
        padding: 0;

        span {
          margin-bottom: -6px;
        }
      }

      a.btn {
        @include relative(right 0);
        height: auto;
        padding: 0;
        margin: -2px 0 0 10px;
        color: $lego-danger;
      }
    }

    &.btn-default-focus {
      outline: none;
      background-color: transparent;
      border-bottom: inherit;
      box-shadow: none;
      outline-offset: 0;
    }

    .ui-select-search-hidden {
      display: none;
    }
  }

  &.open {
    .ui-select-toggle {
      @include transition(all 1s ease);
      @include text($color: $lego-success);
      border-color: $lego-success;

      .caret {
        color: $lego-success;
      }
    }
  }

  .ui-select-choices {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 0;
    max-width: 100%;
    margin-top: 2px;

    .ui-select-choices-row-inner {
      @extend %ellipses;
      width: 100%;
      padding: 8px 20px;

      @include for-size(tablet-landscape-up) {
        max-width: 248px;
      }

      &:hover {
        border-radius: 0;
      }
    }
  }
}

// ===== Dropdown that look like Angular Material Select ==== //

// Default Checkboxes and Radio Inputs

.checkbox, 
.radio,
.checkbox--inline, 
.radio--inline {
  @include relative();
  font-weight: 400;
  cursor: pointer;

  input[type="checkbox"],
  input[type="radio"] {
    @include relative(top -2px);
    margin-right: 8px;
    margin-left: 3px
  }
}

.checkbox, 
.radio {
  display: block;
}

.checkbox--inline, 
.radio--inline {
  display: inline-block;
  margin: 0 12px 0 0;
}

// ======= Native Select Menu =======//

.select {
  cursor: pointer;
  height: 36px;
  padding-right: 5px;
  border-radius: 4px;
  border: 1px solid $lego-gray-3;

  &-squared {
    border-radius: 0;
  }

  & + .select {
    margin-left: 5px;
  }

  select {
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: transparent;
    background-image: none;
    width: 100%;
    color: inherit;
    cursor: pointer;

    @extend %size-styles;

    &.skin-lg {
      padding-right: 40px !important;
    }

    &.skin-md {
      padding-right: 40px !important;
    }

    &.skin-sm {
      padding-right: 40px !important;
    }
  }
}

.select-inline {
  @extend .select;
  display: inline-flex !important;
}


// ======= Autocomplete ======= //

.lego-chips-autocomplete {
  display: flex;
  flex-direction: column;
  position: relative;

  .autocomplete-wrapper {
    position: relative;

    input {
      width: 100%;
    }
  }

  .autocomplete-suggestions {
    display: none;
    z-index: 1000;
    margin: 0 5px;
    padding: 0;
    max-height: 350px;
    overflow-y: scroll;
    border: 1px solid #b8babb;

    .autocomplete-item {
      width: 100%;
      background-color: $white;
      padding: 8px 20px;
      cursor: pointer;

      &:hover {
        background-color: $lego-gray-3;
        color: $white;
      }
    }
  }

  input:focus + .autocomplete-suggestions {
    display: block;
    position: absolute;
    width: calc(100% - 12px);
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
  }
}
