// ==================
// Mobile nav 
// ==================

.mobile-nav {
  padding: 20px;
  border-bottom: 1px solid $lego-gray-2;
  z-index: 2;
  width: 100vw;

  @media #{$phone}, #{$tablet} {
    display: block;
  }

  @media #{$desktop} {
    display: none;
  }

  input {
    @include absolute();
    opacity: 0;
    margin: 0;
    width: 20px;
    height: 20px;
  }
}

.mobile-nav {

  .nav__hamburger,
  .nav__close {
    width: 20px;
    height: 20px;
  }

  .nav__hamburger {
    display: block;
  }

  .nav__close {
    display: none;
  }

  .mobile-nav__content {
    display: none;
    margin-top: 6px;
  }

  .nav__item--nested {
    padding-bottom: 10px;
  }

  input:checked {
    & ~ .nav__close,
    & ~ .mobile-nav__content {
      display: block;
    }
    & ~ .nav__hamburger {
      display: none;
    }
  }
}
