// ==================
// .Pagination 
// ==================

.pagination {
  position: relative;
  margin: 40px 0 20px 0;
  padding-left: 0;
  border-radius: 4px;
  background-color: transparent;
  list-style-type: none;

  .pagination__item {

    &:first-child > a, 
    &:first-child > span {
      margin-left: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child > a, 
    &:last-child > span {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &--first {
      margin-right: 10px;
    }

    &--last {
      margin-left: 10px;
    }
  }
}

// pagination item children
.pagination__item {
  display: inline-block;

  &:focus {
    outline: none;
  }

  &--first,
  &--last {
    @extend .pagination__item;
  }

  & > a, 
  & > span {
    position: relative;
    @include text($height: 1.4, $color: $lego-gray-4);
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    text-decoration: none;
    background-color: $white;
    border: 1px solid $lego-gray-4;
  }

  &:not(.disabled):hover a,
  &:not(.disabled):hover span {
    background-color: lighten($lego-gray-4, 20);
    border-color: $lego-gray-4;
    color: $white;
  }

  &.disabled a,
  &.disabled span,
  &.disabled:hover a,
  &.disabled:hover span {
    cursor: not-allowed;
    opacity: 0.4;
    background-color: initial;
    color: inherit;
  }

  &.active > a {
    z-index: 2;
    color: $white;
    background-color: $lego-gray-4;
    border-color: $lego-gray-4;
  }
}

$skins: 
  'blue' $lego-primary,
  'green' $lego-success,
  'red' $lego-danger
;

.pagination {

  @each $name, $color in $skins {
    &.pagination--#{$name} {
      .pagination__item {
        &:not(.disabled):hover a,
        &:not(.disabled):hover span {
          color: $white;
          background-color: lighten($color, 20);
          border-color: $color;
        }

        & > a, 
        & > span {
          @include text($color: $color);
          border: 1px solid $color;
        }

        &.active > a, 
        &.active:hover > a {
          color: $white;
          background-color: $color;
          border-color: $color;

          &:hover {
            background-color: lighten($color, 20);
          }
        }
      }
    }
  }
}
