// ==================
// .Pagination 
// ==================

.pagination {
  @include relative();
  margin: 40px 0 20px 0;
  padding-left: 0;
  border-radius: 4px;
  background-color: transparent;

  & > li {
    display: inline;

    &:not(.disabled):hover a,
    &:not(.disabled):hover span {
      background-color: lighten($lego-gray-4, 20);
      border-color: $lego-gray-4;
      color: $white;
    }

    &:first-child > a, 
    &:first-child > span {
      margin-left: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child > a, 
    &:last-child > span {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &.disabled,
    &.disabled a,
    &.disabled span,
    &.disabled:hover a,
    &.disabled:hover span {
      cursor: not-allowed;
      opacity: 0.7;
      background-color: inherit;
    }

    & > a, 
    & > span {
      @include relative();
      @include text($height: 1.4, $color: $lego-gray-4);
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      text-decoration: none;
      background-color: $white;
      border: 1px solid $lego-gray-4;
    }

    &.active > a, 
    &.active > span, 
    &.active > a:hover, 
    &.active > span:hover, 
    &.active > a:focus, 
    &.active > span:focus {
      z-index: 2;
      color: $white;
      background-color: $lego-gray-4;
      border-color: $lego-gray-4;
    }

    &.pagination--first {
      margin-right: 10px;
    }

    &.pagination--last {
      margin-left: 10px;
    }
  }
}

$skins: 
  'blue' $lego-primary,
  'green' $lego-success,
  'red' $lego-danger
;

.pagination {

  @each $name, $color in $skins {
    &.pagination--#{$name} {
      & > li {
        &:not(.disabled):hover a,
        &:not(.disabled):hover span {
          color: $white;
          background-color: lighten($color, 20);
          border-color: $color;
        }

        & > a, 
        & > span {
          @include text($color: $color);
          border: 1px solid $color;
        }

        &.active > a, 
        &.active > span, 
        &.active > a:hover, 
        &.active > span:hover, 
        &.active > a:focus, 
        &.active > span:focus {
          color: $white;
          background-color: $color;
          border-color: $color;
        }
      }
    }
  }

  
}
