// ==================
// .Pagination 
// ==================

.pagination {
  @include relative();
  margin: 40px 0 20px 0;
  padding-left: 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination .pagination--first {
  margin-right: 10px;
}

.pagination > li > a, 
.pagination > li > span {
  @include relative();
  @include text($height: 1.4, $color: $lego-primary);
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  text-decoration: none;
  background-color: $white;
  border: 1px solid $lego-gray-2;
}

.pagination li a {
  color: $lego-primary;
  background-color: $lego-gray-1;
}

.pagination > .disabled > span, 
.pagination > .disabled > span:hover, 
.pagination > .disabled > span:focus, 
.pagination > .disabled > a, 
.pagination > .disabled > a:hover, 
.pagination > .disabled > a:focus {
  color: $lego-gray-5;
  cursor: not-allowed;
  background-color: $white;
  border-color: $lego-gray-2;
}

.pagination .pagination--first a {
  border-radius: 4px;
}

.pagination > li:first-child > a, 
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination .pagination--first.disabled a, 
.pagination .pagination--last.disabled a, 
.pagination .pagination--prev.disabled a, 
.pagination .pagination--next.disabled a {
  color: $lego-gray-2;
  background-color: $lego-gray-1;
  border-color: transparent;
}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
  z-index: 2;
  color: $white;
  cursor: default;
  background-color: $lego-primary;
  border-color: $lego-primary;
}

.pagination .pagination--last {
  margin-left: 10px;
}

.pagination .pagination--last a {
  border-radius: 4px;
}

.pagination > li:last-child > a, 
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
