// ======= Native Select Menu =======//

.select,
.select--inline {
  @extend %focus--on;
  margin: 3px;
  cursor: pointer;
  height: 42px;
  border-radius: 4px;
  border: 1px solid $lego-gray-3;

  &--squared {
    border-radius: 0;
  }

  select {
    border: 0 !important;
    background: transparent;
    background-image: none;
    width: 100%;
    color: inherit;
    height: 41px;
    min-width: 250px;
    cursor: pointer;

    @extend %size-styles;

    &.skin-lg {
      padding-right: 40px !important;
    }

    &.skin-md {
      padding-right: 40px !important;
    }

    &.skin-sm {
      padding-right: 40px !important;
    }
  }
}

.select--inline {
  display: inline-flex;

  & + .select--inline {
    margin-left: 5px;
  }
}
