// ==================
// Tabs 
// ==================

$tabCount: 3;

.tab,
.tab--bordered {
  @extend %tab--inside--base;

  .tab__content p,
  .tab__content h3 {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out;
  }

  [id^="tab"]:checked + label,
  [id^="tab"]:checked + label .fa {
    color: $lego-primary;
  }

  [id^="tab"]:checked + label {
    background: $white;
    border-bottom: 0;

    &.border--top {
      box-shadow: inset 0 3px $lego-primary; // for top border
    }

    &.border--bottom {
      box-shadow: inset 0 -3px $lego-primary; // for bottom border
    }
  }
}

.tab--bordered {
  border: 1px solid $lego-gray-1;

  @for $i from 1 through $tabCount {
    #tab-#{$i}:checked ~ #content-#{$i}{
      @extend %show--tab--content;

      border-top: 1px solid $lego-gray-1; 
      border-bottom: 1px solid $lego-gray-1; 
    }
  }
}

@for $i from 1 through $tabCount {
  #tab-#{$i}:checked ~ #content-#{$i}{
    @extend %show--tab--content;
  }
}

/*Media query*/
@media only screen and (max-width: 900px) {
  .tab {
    label span {
      display: none;
    }
    
    .tab {
      width: 98%;
    }
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
    @include transform(scale(0.9));
    opacity: 0;
  }
  
  100% {
    @include transform(scale(1));
    opacity: 1;
  }
}


