// ==================
// Typography 
// ==================

//// Typography /////
/**
EM vs. REM Values
Both units are scalable; the only difference between the two is 
that em is proportionate to its nearest parent that has a font-size, 
whereas rem is always relative to the html font-size.
**/

h1,
h2,
h3,
h4,
h5,
h6 {
  @include text($weight: 500, $color: $lego-gray-6);
  font-family: $helvetica;
  margin: 1rem 0;
}

h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 4.209em;
  margin-bottom: 1.25em;
}
h2 {
  font-size: 3.157em;
}
h3 {
  font-size: 2.369em;
}
h4 {
  font-size: 1.777em;
}
h5 {
  font-size: 1.333em;
}
h6 {
  font-size: 1em;
}

p {
  @include text(1em, 1.7);
  font-family: $arial;
  margin: 1em 0 1.25em 0;
} 

blockquote {
  @include text(1.1em, $weight: 600);
  font-family: $arial;
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid $lego-gray-1;

  footer {
    display: block;
  }
}

blockquote footer {
  @include text(80%, 1.4, $color: $lego-gray-5);
}

blockquote footer:before {
  content: '\2014 \00A0';
}

mark {
  background-color: #ff0; // yellow
  color: $black;
}

small {
  font-size: 0.75em;
}

sub,
sup {
  @include text(75%, 0);
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

b,
strong {
  font-weight: bolder;
}

em {
  font-style: italic;
}

u, ins {
  text-decoration: underline;
}

s, strike, del {
  text-decoration: line-through;
}

.section__title {
  text-transform: capitalize;
  font-weight: 300;
}
