// ==================
// Buttons 
// ==================

$skins: 
  'primary' $lego-primary,
  'success' $lego-success,
  'danger' $lego-danger
;

a {
  color: $lego-primary;

  &[aria-disabled="true"] {
    @extend %input--disabled;
  }
}

.btn {
  @include transition((box-shadow, background-color), .4s, cubic-bezier(.25,.8,.25,1));
  text-decoration: none;
  text-align: center;
  min-height: 42px;
  margin: 3px;
  padding: 8px 18px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-image: none;
  touch-action: manipulation;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.btn,
.link {
  &:disabled {
    @extend %input--disabled;
  }
}

.btn {
  &--blue {@include custom-skin('btn', $lego-primary, $white, $lego-primary);}
  &--green {@include custom-skin('btn', $lego-success, $white, $lego-success);}
  &--red {@include custom-skin('btn', $lego-danger, $white, $lego-danger);}
  &--orange {@include custom-skin('btn', $lego-warning, $white, $lego-warning);}
  &--default,
  &--gray {@include custom-skin('btn', $lego-gray-3, $white, $lego-gray-3);}
  
  &--outline-blue {@include custom-skin('btn-outline', $white, $lego-primary, $lego-primary);}
  &--outline-green {@include custom-skin('btn-outline', $white, $lego-success, $lego-success);}
  &--outline-red {@include custom-skin('btn-outline', $white, $lego-danger, $lego-danger);}
  &--outline-orange {@include custom-skin('btn-outline', $white, $lego-warning, $lego-warning);}
  &--outline-default,
  &--outline-gray {@include custom-skin('btn-outline', $white, $lego-gray-4, $lego-gray-3);}
}

.link {
  &--blue,
  &--default {@include custom-skin('link', $color: $lego-primary);}
  &--green {@include custom-skin('link', $color: $lego-success);}
  &--red {@include custom-skin('link', $color: $lego-danger);}
  &--orange {@include custom-skin('link', $color: $lego-warning);}
  &--gray {@include custom-skin('link', $color: $lego-gray-4);}
  &--white {@include custom-skin('link', $color: $white);}
}

/////// Button Sizing /////////

.btn-lg {
  padding: 16px 30px !important;
  font-size: 18px !important;
  border-radius: 9px !important;
}

.btn-md {
  padding: 12px 24px !important;
  font-size: 14px !important;
  border-radius: 6px !important;
}

.btn-sm {
  padding: 9px 12px !important;
  font-size: 12px !important;
  border-radius: 3px !important;
}

/////// Button Block /////////

.btn--block {
  display: block;
  width: 100%;
  margin: 0;

  & + .btn--block {
    margin: 5px 0;
  }
}


/////// Button Grous ///////

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
}

.btn-group > .btn-group__btn {
  position: relative;
  float: left;
  margin: 0;
}

.btn-group > .btn-group__btn:first-child {
  margin-left: 0;
}

.btn-group > .btn-group__btn:first-child:not(:last-child):not(.dropdown__toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group .btn-group__btn + .btn-group__btn, 
.btn-group .btn-group + .btn-group__btn {
  margin-left: -1px;
}

.btn-group > .btn-group__btn:not(:first-child):not(:last-child):not(.dropdown__toggle) {
  border-radius: 0;
}

.btn-group > .btn-group__btn:last-child:not(:first-child), 
.btn-group > .dropdown__toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

//////////// Custom Upload File Button /////////////

.btn-upload-container {
  position: relative;
  display: inline-block;
  margin: 3px;

  .inputfile {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    & + .btn-upload {
      @include text($height: 1.4);
      display: inline-block;
      border-radius: 4px;
      padding: 10px 18px;
      text-transform: capitalize;
    }
  }
}

//// Pure CSS Dropdown ////

.dropdown {
  position: relative;
  display: inline-block;
  margin: 3px;

  &.disabled {
    @extend %input--disabled;
  }

  /**
  Hide the checkbox itself. Checking and unchecking 
  it we will be done via the label element.
  */

  .dropdown__toggle {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    margin: 0;

    &[disabled] {
      cursor: not-allowed;
    }

    + .btn {
      margin: 0;
    }

    &:checked ~ .dropdown__container {
      display: block;
    }
  }

  /*  The .dropdown__container will have display:none by default */

  .dropdown__container {
    @include box-shadow(0, 6px, 12px, rgba(0,0,0,0.175));
    position: absolute;
    list-style: none;
    text-align: left;
    float: left;
    width: 100%;
    z-index: 1000;
    margin: 1px 0 0 0;
    padding:0;
    min-width: 153px;
    background-color: $white;
    background-clip: padding-box;
    border-radius: 4px;
    display: none;
    max-height: 350px;
    overflow-y: scroll;

    .dropdown__item {
      padding: 8px 20px;
      cursor: pointer;

      &:hover {
        background-color: $lego-gray-3;
        color: $white;
      }

      a {
        color: inherit;
      }
    }
  }

  &.dropdown--show {
    .dropdown__container {
      display: block;
    }
  }

  @each $name, $color in $skins {
    .btn--#{$name} {
      & ~ .dropdown__container .dropdown__item:hover{
        background-color: $color;
      }
    }
    .btn--outline-#{$name} {
      & ~ .dropdown__container .dropdown__item:hover{
        background-color: $white;
        color: $color;
      }
    }
  }
}
