// ==================
// Containers 
// ==================

.page {
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  @media #{$desktop} {
    flex-direction: row;
  }
}

.content {
  max-width: 1100px;
  min-width: 20px;
}

.container {
  @extend %container--default;

  & .container {
    padding-left: 25px;
    width: auto;
  }
}

.flex-container {
  @extend %flex;
  flex-wrap: wrap;
}

.column {
  flex-basis: 500px;
}

.flex-column {
  @extend %flex--column;
}
