// ==================
// Inputs 
// ==================

// not for checkbox, radio, progress, range, file
.input {
  @include box-shadow(0, 1px, 1px, rgba(0,0,0,.075), inset);
  @include transition((border-color, box-shadow), .15s, ease-in-out);
  color: $lego-gray-5;
  margin: 3px;
  padding: 5px;
  min-height: 43px;
  min-width: auto;
  display: inline;
  border: 1px solid $lego-gray-3;
  border-radius: 4px;
  box-sizing: border-box;
}

.checkbox,
.radio {
  @extend %flex;

  input {
    height: 22px;
    margin-right: 8px;
  }
}

// Input Groups //

// Need to address two ways of looking at input groups
// 1. can be used to group inputs and buttons in the same container
// 1. can be used to group labels and checkbox/radio inputs in the same container

.input-group,
.input-group--stacked {
  @extend %mobile-full-width;
  margin-right: 10px;

  *:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }

  *:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
  }

  // border radius corners depending on who comes first

  .input-group__btn,
  .input-group__input {
    margin-right: 0;
    margin-left: 0;
  }

  .input-group__input {
    @extend %mobile-full-width;
    display: inline;

    .input-group__input + .input-group__input {
      border-left-width: 0;
    }
  }
}

.input-group {
  display: inline-flex;

  & .checkbox,
  & .radio {
    margin-left: 8px;
  }

  &--stacked {
    display: flex;
  }
}
