// ==================
// Inputs 
// ==================

input[type="text"],
input[type="color"],
input[type="date"],
input[type="email"],
input[type="phone"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="time"],
input[type="range"],
textarea {
  @include box-shadow(0, 1px, 1px, rgba(0,0,0,.075), inset);
  @include transition((border-color, box-shadow), .15s, ease-in-out);
  color: $lego-gray-5;
  margin: 3px;
  padding: 5px;
  height: 42px;
  min-width: 250px;
  display: inline;
  border: 1px solid $lego-gray-3;
  border-radius: 4px;
  box-sizing: border-box;
}

.checkbox,
.radio {
  display: flex;
  align-items: center;

  input {
    height: 24px;
    margin: 0px 8px 1px 0;
  }
}

// Input Groups //

// Need to address two ways of looking at input groups
// 1. can be used to group inputs and buttons in the same container
// 1. can be used to group labels and checkbox/radio inputs in the same container

.input-group,
.input-group--stacked {
  width: auto;
  margin-right: 10px;

  @media #{$phone} {
    width: 100%;
  }

  *:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }

  *:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
  }

  // border radius corners depending on who comes first

  .input-group__btn,
  .input-group__input {
    margin-right: 0;
    margin-left: 0;
  }

  .input-group__input {
    display: inline;

    @media #{$phone} {
      width: 100%;
    }

    .input-group__input + .input-group__input {
      border-left-width: 0;
    }
  }
}

.input-group {
  display: inline;

  &--stacked {
    @extend %flex;
  }
}
