// ==================
// Inputs 
// ==================

input[type="text"],
input[type="color"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="time"],
input[type="range"],
textarea {
  @extend %focus--on;
  @include box-shadow(0, 1px, 1px, rgba(0,0,0,.075), inset);
  @include transition((border-color, box-shadow), .15s, ease-in-out);
  color: $lego-gray-5;
  margin: 3px;
  padding: 5px;
  height: 42px;
  min-width: 250px;
  display: inline;
  border: 1px solid $lego-gray-3;
  border-radius: 4px;
  box-sizing: border-box;
}

.checkbox,
.radio {
  display: flex;
}

.checkbox--inline,
.radio--inline {
  display: inline-flex;
  margin-right: 12px;
}

.checkbox,
.radio,
.checkbox--inline,
.radio--inline {
  input[type="checkbox"],
  input[type="radio"] {
    margin: 3px 8px 3px 0;
  }
}

// Input Groups //

// Need to address two ways of looking at input groups
// 1. can be used for forms with labels next to inputs
// 2. can be used for forms with labels above inputs
// 3. can be used to group inputs and buttons in the same container

// Needs:
// [add] default horizontal
// [add] input-group--stacked

.input-group {
  display: flex;
  align-items: center;
  margin: 0 28px 20px 0;
  border-radius: 4px;
  width: auto;

  @media #{$phone} {
    width: 100%;
  }

  // border radius corners depending on who comes first

  .input-group__btn,
  .input-group__input {
    margin: 0;

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-left: 0;
    }
  }

  label {
    margin-right: 8px;

    & + .input-group__input {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-left: 1px;
    }
  }

  .input-group__input {
    display: block;

    @media #{$phone} {
      width: 100%;
    }

    .input-group__input + .input-group__input {
      border-left-width: 0;
    }
  }

  &--stacked {
    @extend %flex--column;
  }

  &__btn {
    position: relative;
  }
}
