// ======= Native Select Menu =======//

.select,
.select--inline {
  position: relative;
  height: 42px;
  margin: 3px;
  padding-right: 5px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid $lego-gray-3;

  &--squared {
    border-radius: 0;
  }


  &::before,
  &::after {
    content: '';
    position: absolute;
    // pointer-events: none; // Arrow clickable in some browsers
    border: 1px solid transparent;
    right: 10px;
  }

  // top arrow
  &::before {
    bottom: 55%;
    border-width: 0 5px 8px 5px;
    border-bottom-color: $lego-gray-5;
  }

  // bottom arrow
  &::after {
    border-width: 8px 5px 0 5px;
    border-top-color: $lego-gray-5;
    top: 55%;
  }

  select {
    border: 0 !important;
    width: 100%;
    color: $lego-gray-5;
    height: 41px;
    cursor: pointer;

    // reset 
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    padding: 8px 24px 8px 8px;

    &.skin-lg {
      padding-right: 40px !important;
    }

    &.skin-md {
      padding-right: 40px !important;
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }

    &.skin-sm {
      padding-right: 40px !important;
    &:focus {
      outline: none;
    }
  }
}

.select--inline {
  display: inline-flex;

  & + .select--inline {
    margin-left: 5px;
  }
}

// default skin colors
$skins: 
  'blue' $lego-primary,
  'green' $lego-success,
  'red' $lego-danger,
  'gray' $lego-gray-3
;

.select {

  @each $name, $color in $skins {
    &.skin-#{$name} {
      border-color: $color;

      select {
        color: $white;
      }

      &::before {
        border-bottom-color: $white;
      }

      &::after {
        border-top-color: $white;
      }
    }

    &.skin-outline-#{$name} {
      border-color: $color;

      select {
        color: $color;
      }

      &::before {
        border-bottom-color: $color;
      }

      &::after {
        border-top-color: $color;
      }
    }
  }
}