// ==================
// Typography 
// ==================

//// Typography /////

// Base Size 16px = 1em
body {
  @include text(16px, 1.5, 400, $color: $lego-gray-6);
  font-family: $arial;
}

/**
EM vs. REM Values
Both units are scalable; the only difference between the two is 
that em is proportionate to its nearest parent that has a font-size, 
whereas rem is always relative to the html font-size.
**/

$h1-font-sizes: (
  'phone'  : 2.1em,
  'tablet' : 2.3em,
  'desktop': 2.5em
);
$h2-font-sizes: (
  'phone'  : 1.6em,
  'tablet' : 1.8em,
  'desktop': 2em
);
$h3-font-sizes: (
  'phone'  : 1.25em,
  'tablet' : 1.55em,
  'desktop': 1.75em
);
$h4-font-sizes: (
  'phone'  : 1.1em,
  'tablet' : 1.3em,
  'desktop': 1.5em
);
$h5-font-sizes: (
  'phone'  : 1.15em,
  'tablet' : 1.2em,
  'desktop': 1.25em
);
$h6-font-sizes: (
  'phone'  : 1em,
  'tablet' : 1em,
  'desktop': 1em
);
$p-font-sizes: (
  null  : 1em
);

h1, h2, h3, h4, h5, h6 {
  color: $lego-gray-6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helvetica;
  margin: 1rem 0;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

h5, h6 {
  font-weight: 600;
}

h1 {
  @include font-size($h1-font-sizes);
  margin-bottom: 1.25rem;
}

h2 {
  @include font-size($h2-font-sizes);
}

h3 {
  @include font-size($h3-font-sizes);
}

h4 {
  @include font-size($h4-font-sizes);
}

h5 {
  @include font-size($h5-font-sizes);
}

h6 {
  @include font-size($h6-font-sizes);
}

p, ul, ol, blockquote {
  @include font-size($p-font-sizes);
}

p {
  line-height: 1.5;
  font-family: $arial;
  margin: 1rem 0 1.25rem 0;
}

blockquote {
  @include text(1.1rem, $weight: 600);
  font-family: $arial;
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid $lego-gray-1;

  footer {
    @include text(80%, 1.4, $color: $lego-gray-5);
    display: block;

    &:before {
      content: '\2014 \00A0';
    }
  }
}

mark {
  background-color: #ff0; // yellow
  color: $black;
}

small {
  font-size: 0.75rem;
}

sub,
sup {
  @include text(75%, 0);
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25rem;
}

sup {
  top: -.5rem;
}

b,
strong {
  font-weight: bolder;
}

em {
  font-style: italic;
}

u, ins {
  text-decoration: underline;
}

s, strike, del {
  text-decoration: line-through;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
